<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                     
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/47179713?from=vacancy_search_list&amp;query=java%20Odessa">Middle Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Digis</td> 
     <td class="salary">до 4 500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/47791891?from=vacancy_search_list&amp;query=java%20Odessa">Intern Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/47795745?from=vacancy_search_list&amp;query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">The Product Engine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/47864312?from=vacancy_search_list&amp;query=java%20Odessa">Junior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">The Product Engine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/47736307?from=vacancy_search_list&amp;query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Codeminders</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/47862634?from=vacancy_search_list&amp;query=java%20Odessa">Go / Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">The Product Engine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/47840701?from=vacancy_search_list&amp;query=java%20Odessa">Middle/Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">The Product Engine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/47561219?from=vacancy_search_list&amp;query=java%20Odessa">Java Developer at Wise (TransferWise) to Estonia</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">TransferWise</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/45744507?from=vacancy_search_list&amp;query=java%20Odessa">CLN Java Developer [Remote]</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Cloud Linux</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/47791506?from=vacancy_search_list&amp;query=java%20Odessa">Android Framework Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/47848210?from=vacancy_search_list&amp;query=java%20Odessa">Android Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/47866369?from=vacancy_search_list&amp;query=java%20Odessa">C++ Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">The Product Engine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/47206200?from=vacancy_search_list&amp;query=java%20Odessa">Системный администратор (Application Server administrator)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Південний, акціонерний банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/47484569?from=vacancy_search_list&amp;query=java%20Odessa">PHP developer (remote)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Petrosoft LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/47792610?from=vacancy_search_list&amp;query=java%20Odessa">Requirements Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46344635?from=vacancy_search_list&amp;query=java%20Odessa">IT-рекрутер</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">MDconsult</td> 
     <td class="salary">800 – 1 000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/47398835?from=vacancy_search_list&amp;query=java%20Odessa">Front-end (Angular) Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>